.App {
  text-align: center;
  background-color: #141519;
  display: flex;
  flex-direction: row;
}

.app-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 100vh;
  width: 100%;
  gap: 20px;
}

* {
  margin: 0;
  padding: 0;
}