.App {
  text-align: center;
  background-color: #141519;
  display: flex;
  flex-direction: row;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}