/* .dashboard-body {
  display: grid; 

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  grid-template-areas: 
  'total-gross total-sold sales-pro outreach'
  'yearly month-to-date-proj'
  'notifications fixed-operations sales-fin-managers service-parts-managers';
  
  gap: 20px;
  height: 100%;
} */

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  height: 100vh;
  padding: 0 20px 0 0px;
  position: relative;
  overflow: auto;
}

.total-gross {
  grid-area: total-gross;
  display: flex;
  grid-auto-rows: min-content;
  background-color: black;
}

.total-sold {
  grid-area: total-sold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sales-pro {
  grid-area: sales-pro;
  display: flex;
}

.outreach {
  grid-area: outreach;
}

.yearly {
  /* display: flex; */
  /* flex-direction: column;
  align-items: flex-start;*/
  grid-area: yearly;
}

.month-to-date-proj {
  grid-area: month-to-date-proj;
}

.notifications {
  grid-area: notifications;
}

.fixed-operations {
  grid-area: fixed-operations;
}

.sales-fin-managers {
  grid-area: sales-fin-managers;
}

.service-parts-managers {
  grid-area: service-parts-managers;
}

.dashboard-body {
  display: grid;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
  height: min-content;
}

.dynamic-height {
  height: min-content;
}

@media screen and (max-width: 767px) {
  .dashboard-body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .dashboard-body {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      'total-gross total-sold'
      'sales-pro outreach'
      'yearly yearly'
      'month-to-date-proj month-to-date-proj'
      'notifications fixed-operations'
      'sales-fin-managers service-parts-managers'
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .dashboard-body {
    grid-template-columns: repeat(4, minmax(auto, 300px));
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 
      'total-gross total-sold sales-pro outreach'
      'yearly yearly month-to-date-proj month-to-date-proj'
      'notifications fixed-operations sales-fin-managers service-parts-managers';
  }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .dashboard-body {
    grid-template-columns: repeat(4, minmax(auto, 300px));
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 
      'total-gross total-sold sales-pro outreach'
      'yearly yearly month-to-date-proj month-to-date-proj'
      'notifications fixed-operations sales-fin-managers service-parts-managers';
  }
}

@media screen and (min-width: 2560px) {
  .dashboard-body {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 1fr);
  }
}

.board {
  background-color: #21242c;
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 175px;
  justify-content: flex-start;
  align-items: start;
  margin: 0 0 0 0;
  padding: 20px 20px 20px 20px;
}

.boardTitle {
  margin: 20px 0 0 20px;
  margin-left: 20px;
  text-align: left;
  width: 50%;
  font-size: 20px;
  color: white;
  max-height: 52px;
}

.boardTitleNumber {
  width: 100%;
  margin: 20px 0 0 20px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

.progressText {
  font-size: 12px;
  color: #9A9B9D;
  margin: 0 0 0 20px;
  text-align: left;
  margin-bottom: 5px;
}

.dashboard-board-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle {
  
}

.yearly-calendar {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
}

.sales-pro-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.progress-bar-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.board-progress {
  
}

.progress-bar-name {
  margin: 0 0 0 0;
  text-align: left;
  padding: 0;
}

.progress-bar-number {
  margin: 0 0 0 0;
  text-align: right;
  padding: 0;
}

.progress-bar-container {
  width: 100%;
}

.progress-bar-name {
  flex: 1;
}

.progress-bar-number {
  flex: 1;
}

.notification-list {
  width: inherit;
}

.dark-divider {
  color: #0a0b13;
  border-width: 3px;
  margin: 0 20px 0 20px;
  width: 90%;
}

.progress-container {
  margin: 0 auto;
}

#total-gross-board {
  background-color: #21242c;
  color: white;
  padding: all 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 420px;
  min-height: 175px;
  justify-content: flex-start;
  align-items: start;
  margin: 0 0 0 0;
}