.container {
  color: white;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow: auto;
  color: white;
  margin: 0 20px 0 0;
}

.container {
  margin: 0 10px 0 10px !important;
  /* display: flex; */
  /* flex-direction: row;
  justify-content: flex-start; */
  width: 100%;
  height: 100vh;
}

.dashboard-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.board {
  background-color: #21242c;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  height: min-content;
  padding: 20px;
  margin: 10px;
}

.total-gross {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #21242c;
  border-radius: 25px;
  max-height: 175px !important;
}

.total-sold {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  max-height: 175px !important;
}

.sales-pro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}

.month-to-date-proj {
  padding: 0;
  margin: 0 !important;
}

.row {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardTitle {
  margin: 0;
  text-align: left;
  font-size: 20px;
  color: white;
  max-height: 52px;
}

.boardTitleNumber {
  width: 100%;
  margin: 20px 0 0 20px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

.progressText {
  font-size: 12px;
  color: #9A9B9D;
  margin: 0 0 0 20px;
  text-align: left;
  margin-bottom: 5px;
}

.dashboard-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 20px 0;
}

.circle {
  
}

.yearly-calendar {
  width: 100%;
  height: 20rem;
}

.sales-pro-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.progress-bar-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.board-progress {
  
}

.progress-bar-name {
  margin: 0 0 0 0;
  text-align: left;
  padding: 0;
}

.progress-bar-number {
  margin: 0 0 0 0;
  text-align: right;
  padding: 0;
}

.progress-bar-container {
  width: 100%;
  margin: 0 0 20px 0;
}

.progress-bar-name {
  flex: 1;
}

.progress-bar-number {
  flex: 1;
}

.notification-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}

.dark-divider {
  color: #0a0b13;
  border-width: 3px;
  margin: 0 20px 0 20px;
  width: 90%;
}

.progress-container {
  margin: 0 auto;
}

.main-options {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
}