.progress-bar {
  background-color: #131523 !important;
  border-radius: 25px;
  width: 20rem;
  height: 20px;
  border-radius: 25px;
  overflow: hidden;
}

.progress-diff-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 20px;
  width: 100%;
  position: relative;
  gap: 10px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #da615c;
  border-radius: 25px;
}

.gross {
  color: #da615c;
}

.progressDiffTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #da615c;
  margin: 0 0 0 0px;
}

.progressDiff {
  margin: 0 0 0 0;
}

.pace {
  position: absolute;
  margin: 0px 0 0 10px !important;
  font-size: 14px;
}

@media (max-width: 1750px) {
  .pace {
    font-size: 12px;
  }
}

@media (max-width: 1630px) {
  .pace {
    font-size: 10px;
  }
}

@media (max-width: 1515px) {
  .pace {
    font-size: 9px;
  }
}
@media (max-width: 1460px) {
  .pace {
    font-size: 8px;
  }
}
@media (max-width: 1400px) {
  .pace {
    font-size: 7px;
  }
}
@media (max-width: 1300px) {
  .pace {
    font-size: 0px;
  }
}
