.divider {
  color: #8b8c8f;
  margin: 20px 0 20px;
  border-width: 3px;
}

.popup-btn {
  background-color: inherit;
  color: white;
  border: none;
  box-shadow: none;
}

.link {
  text-decoration: none;
  color: white;
}

.sidebar {
  position: fixed; /* Add this line */
  top: 0; /* Add this line to align it from the top */
  left: 0;
  background-color: blue;
  width: 12%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar-item {
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
  gap: 10px;
  width: 100%;

  &:hover {
    background-color: #696ff2;
    color: #ffffff;
  }
  &:active {
    background-color: #3e4294;
    color: #ffffff;
  }
}

.sidebar-logo {
  margin: 0 0 0 0 !important;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: white;
  font-size: 20px;
  gap: 10px;
  font-weight: bold;
  min-height: 5%;
}

.logo {
  max-width: 50px;
  border-radius: 10px;
  height: auto;
  background-color: #696ff2;
}

.container-fluid {
  padding: 0 !important;
}

.menu-container {
  padding: 20px 10px 0 10px;
}

.sidebar-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 250px !important;
  max-width: 250px !important;
  height: 100%;
  background-color: #0b0d1e;
}

/* Add this to your Sidebar.css */

.collapsed {
  width: 80px; /* Adjust this width to fit your collapsed sidebar size */
  transition: width 0.3s ease;
}

.collapsed-logo {
  display: none; /* This will hide the logo text when sidebar is collapsed */
}

.sidebar-item.collapsed .link.d-none.d-lg-inline {
  display: none; /* This will hide the text labels next to the icons when collapsed */
}

/* Optional: Adjust the size of the icons in the collapsed state if necessary */
.sidebar-item.collapsed {
  justify-content: center; /* This will center the icons in the collapsed state */
}

/* Adjustments to sidebar-item to work with toggling collapsed class */
.sidebar-item {
  display: flex;
  align-items: center;
  /* ...other styles... */
}
